@font-face {
    font-family: "mont";
    src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

h1 {
    color:rgb(63, 0, 77);
    font-size: 50px;
    text-align: center;
    font-family: "mont", sans-serf;
    }
    
    h2 { 
        color:rgb(7,80,158);
    font-size: 50px; 
    text-align: center;
    font-family: "mont", sans-serf;
    margin: 50px 0px 10px 10px;
    }

    p{
        color:rgb(0, 0, 0);
    font-size: 30px;
    text-align: justify;
    padding: 30px;
    font-family: "mont", sans-serf;
    }

    h3{
        color:rgb(7, 80, 158);
        font-size: 50px;
        text-align:left;
        padding: 30px;
        font-family: "mont", sans-serf;
    
    
    }
    body{
        background-color: rgb(198, 203, 255);
    }
    img{
        width: 400px;
        height: 500px;
        border-radius: 20px;
       
        
    }
    h5{
        color:rgb(63, 0, 77);
        font-size: 60px;
        text-align: center;
        font-family: "mont", sans-serf;
        margin: 12px;

    }

.container{
    display:flex ;
    align-items: center;
    padding: 30px;
}

h4{
    color:rgb(63, 0, 77);
        font-size: 30px;
        text-align: left;
        padding:30px;
        font-family: "mont", sans-serf;
}